In [1]:
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [31]:
df = pd.read_excel('C:/Users/Akshay Yadav/Desktop/pyworkspace/data/nesting_try.xlsx')

In [49]:
df = df[['Sr.No.','Table','Factory','Element_mould_id','Mould ID','Number_can_pro','Mould_change_time']]

In [50]:
df

,Sr.No.,Table,Factory,Element_mould_id,Mould ID,Number_can_pro,Mould_change_time
0,4,T1,CAROUSAL,1,LTPW - 113,1,1
1,5,T1,CAROUSAL,1,MTPW - 113,1,1
2,6,T1,CAROUSAL,1,UTPW - 113,1,1
3,7,T1,CAROUSAL,2,PW - 121,1,1
4,8,T1,CAROUSAL,2,FPW - 121,1,1
5,9,T1,CAROUSAL,3,LTPW - 113A,1,1
6,10,T1,CAROUSAL,3,MTPW - 113A,1,1
7,11,T1,CAROUSAL,3,UTPW - 113A,1,1
8,12,T1,CAROUSAL,3,LTPW - 113B,1,1
9,13,T1,CAROUSAL,3,MTPW - 113B,1,1
10,14,T1,CAROUSAL,3,UTPW - 113B,1,1
11,15,T2,CAROUSAL,4,LTPW - 2,1,1
12,16,T2,CAROUSAL,4,MTPW - 2,1,1
13,17,T2,CAROUSAL,4,UTPW - 2,1,1
14,18,T2,CAROUSAL,4,LTPW - 3A,1,1
15,19,T2,CAROUSAL,4,MTPW - 3A,1,1
16,20,T2,CAROUSAL,4,UTPW - 3A,1,1
17,21,T2,CAROUSAL,5,PW - 12,1,1
18,22,T3,CAROUSAL,5,LTPW - 14,1,1
19,23,T3,CAROUSAL,5,MTPW - 14,1,1
20,24,T3,CAROUSAL,6,UTPW - 14,1,1
21,25,T3,CAROUSAL,6,FPW - 114,1,1
22,26,T3,CAROUSAL,6,LTPW - 114,1,1
23,27,T3,CAROUSAL,6,MTPW - 114,1,1
24,28,T3,CAROUSAL,7,UTPW - 114,1,1
25,29,T3,CAROUSAL,8,PW - 20,1,1
26,30,T4,CAROUSAL,9,LTPW - 19,1,1
27,31,T4,CAROUSAL,9,MTPW - 19,1,1
28,32,T4,CAROUSAL,9,UTPW - 19,1,1
29,33,T4,CAROUSAL,10,LTPW - 13A,1,1
30,34,T4,CAROUSAL,10,MTPW - 13A,1,1
31,35,T4,CAROUSAL,10,UTPW - 13A,1,1
32,36,T4,CAROUSAL,10,LTPW - 26,1,1
33,37,T4,CAROUSAL,10,MTPW - 26,1,1
34,38,T4,CAROUSAL,11,UTPW - 26,1,1

In [53]:
df_req = pd.DataFrame({'Mould ID':['LTPW - 113','MTPW - 113'],
                       'imp_Qty_cast':[2,5],
                        'two_floor_Qty_cast':[5,6]})
df_req

     Mould ID  imp_Qty_cast  two_floor_Qty_cast
0  LTPW - 113             2                   5
1  MTPW - 113             5                   6

In [57]:
mer_df = df.merge(df_req,how='left').fillna(0)
mer_df

,Sr.No.,Table,Factory,Element_mould_id,Mould ID,Number_can_pro,Mould_change_time,imp_Qty_cast,two_floor_Qty_cast
0,4,T1,CAROUSAL,1,LTPW - 113,1,1,2.0,5.0
1,5,T1,CAROUSAL,1,MTPW - 113,1,1,5.0,6.0
2,6,T1,CAROUSAL,1,UTPW - 113,1,1,0.0,0.0
3,7,T1,CAROUSAL,2,PW - 121,1,1,0.0,0.0
4,8,T1,CAROUSAL,2,FPW - 121,1,1,0.0,0.0
5,9,T1,CAROUSAL,3,LTPW - 113A,1,1,0.0,0.0
6,10,T1,CAROUSAL,3,MTPW - 113A,1,1,0.0,0.0
7,11,T1,CAROUSAL,3,UTPW - 113A,1,1,0.0,0.0
8,12,T1,CAROUSAL,3,LTPW - 113B,1,1,0.0,0.0
9,13,T1,CAROUSAL,3,MTPW - 113B,1,1,0.0,0.0
10,14,T1,CAROUSAL,3,UTPW - 113B,1,1,0.0,0.0
11,15,T2,CAROUSAL,4,LTPW - 2,1,1,0.0,0.0
12,16,T2,CAROUSAL,4,MTPW - 2,1,1,0.0,0.0
13,17,T2,CAROUSAL,4,UTPW - 2,1,1,0.0,0.0
14,18,T2,CAROUSAL,4,LTPW - 3A,1,1,0.0,0.0
15,19,T2,CAROUSAL,4,MTPW - 3A,1,1,0.0,0.0
16,20,T2,CAROUSAL,4,UTPW - 3A,1,1,0.0,0.0
17,21,T2,CAROUSAL,5,PW - 12,1,1,0.0,0.0
18,22,T3,CAROUSAL,5,LTPW - 14,1,1,0.0,0.0
19,23,T3,CAROUSAL,5,MTPW - 14,1,1,0.0,0.0
20,24,T3,CAROUSAL,6,UTPW - 14,1,1,0.0,0.0
21,25,T3,CAROUSAL,6,FPW - 114,1,1,0.0,0.0
22,26,T3,CAROUSAL,6,LTPW - 114,1,1,0.0,0.0
23,27,T3,CAROUSAL,6,MTPW - 114,1,1,0.0,0.0
24,28,T3,CAROUSAL,7,UTPW - 114,1,1,0.0,0.0
25,29,T3,CAROUSAL,8,PW - 20,1,1,0.0,0.0
26,30,T4,CAROUSAL,9,LTPW - 19,1,1,0.0,0.0
27,31,T4,CAROUSAL,9,MTPW - 19,1,1,0.0,0.0
28,32,T4,CAROUSAL,9,UTPW - 19,1,1,0.0,0.0
29,33,T4,CAROUSAL,10,LTPW - 13A,1,1,0.0,0.0
30,34,T4,CAROUSAL,10,MTPW - 13A,1,1,0.0,0.0
31,35,T4,CAROUSAL,10,UTPW - 13A,1,1,0.0,0.0
32,36,T4,CAROUSAL,10,LTPW - 26,1,1,0.0,0.0
33,37,T4,CAROUSAL,10,MTPW - 26,1,1,0.0,0.0
34,38,T4,CAROUSAL,11,UTPW - 26,1,1,0.0,0.0

In [7]:
COL_DATA = pd.DataFrame({'COL1':[1,2,3,4],'COL2':[1,2,3,4]})

In [8]:
COL_DATA

   COL1  COL2
0     1     1
1     2     2
2     3     3
3     4     4

In [16]:
print(COL_DATA.columns)

Index(['COL1', 'COL2'], dtype='object')

In [19]:
for i in COL_DATA.columns:
    print(i)
    return(COL_DATA['i'])

SyntaxError: 'return' outside function (424831907.py, line 3)